body .spice-white-label-brand.spice-white-label-section {
  margin: 0; }
  body .spice-white-label-brand.spice-white-label-section h3 {
    background-color: #ff6f61;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    text-align: left; 
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .4px;
    margin: 0 0 22px;
  }

body .spice-white-label-brand .content-wrap {
  padding: 0 20px 20px;
  text-align: left; }

body .spice-white-label-brand .field-wrap {
  margin-bottom: 30px; }
  body .spice-white-label-brand .field-wrap.left, body .spice-white-label-brand .field-wrap.right {
    float: left;
    width: 48%;
    margin-top: 0;
    clear: left; }
  body .spice-white-label-brand .field-wrap.right {
    float: right;
    clear: right; }
  body .spice-white-label-brand .field-wrap.clear {
    clear: both; }
  body .spice-white-label-brand .field-wrap label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px; }

body .spice-white-label-brand input[type=text],
body .spice-white-label-brand textarea {
  display: block;
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 5px 12px;
  height: 34px;
  width: 100%;
  border-radius: 0;
  margin: 0;
  outline: 0;
  box-shadow: none !important;
  box-sizing: border-box; }
  body .spice-white-label-brand input[type=text]:focus,
  body .spice-white-label-brand textarea:focus {
    border-color: rgba(0, 0, 0, 0.18); }

body .spice-white-label-brand textarea {
  min-height: 100px; }

body .spice-white-label-brand .desc {
  color: #777;
  font-style: italic;
  margin: 10px 0 0; }

body .spice-white-label-brand .spice-wl-media-live-preview {
  margin-bottom: 10px;
  text-align: center; }
  body .spice-white-label-brand .spice-wl-media-live-preview img {
    max-width: 100%; }

body .spice-white-label-brand .spice-wl-media-upload-button,
body .spice-white-label-brand .spice-wl-media-remove {
  margin-top: 10px; }

body .spice-white-label-brand .spice-wl-media-remove {
  float: right;
  color: #a00; }

body .spice-white-label-brand .button.swl-button {
  background-color: #ff6f61;
  margin: 10px 0 0; }
  body .spice-white-label-brand .button.swl-button:hover {
    background-color: #cd584c;
    color: #fff; }

body .spice-white-label-brand .spice-wl-settings-updated {
  margin-top: 12px; }
  body .spice-white-label-brand .spice-wl-settings-updated p {
    color: #319e6c;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin: 0; }

@media screen and (max-width: 1280px) {
  body .spice-white-label-brand {
    display: block; } }


.spice-white-label-brand {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 0 auto 15px auto;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

body .button.swl-button {
    color: #fff;
    height: auto;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 14px 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    letter-spacing: .1em;
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}